<div class="footr">
  <div class="Container">
    <div class="icons">
      <a class="ico"><img src="assets/Pics/behance24.png" alt="" /></a>
      <a class="ico"><img src="assets/Pics/linkedin24.png" alt="" /></a>
      <a class="ico"><img src="assets/Pics/facebook24.png" alt="" /></a>
      <a class="ico"><img src="assets/Pics/instagram24.png" alt="" /></a>
      <a class="ico"><img src="assets/Pics/youtube24.png" alt="" /></a>
      <a class="ico"><img src="assets/Pics/vimeo24.png" alt="" /></a>
    </div>
    <hr />
    <div class="brand"></div>
  </div>
</div>
