<div class="section {{ sec_Background }}" *ngIf="Dirc && Flag">
  <div id="cont1" class="Content left">
    <h1 class="rightH" *ngIf="f">{{ Title }}</h1>
    <h1 *ngIf="!f">{{ Title }}</h1>
    <p class="param">
      {{ Describtion }}
    </p>
    <button
      id="ButN1"
      class="{{ But_background }}"
      routerLink="/Projects/{{ Cat }}"
      routerLinkActive="active"
    >
      {{ ButText }}
    </button>
  </div>
  <div class="pic">
    <img src="{{ Img }}" alt="" />
  </div>
</div>

<div class="section  {{ sec_Background }}" *ngIf="!Dirc && Flag">
  <div class="pic left">
    <img src="{{ Img }}" alt="" />
  </div>
  <div id="cont2" class="Content right">
    <h1>{{ Title }}</h1>
    <p class="param">
      {{ Describtion }}
    </p>
    <button
      id="ButN2"
      class="{{ But_background }}"
      routerLink="/Projects/{{ Cat }}"
      routerLinkActive="active"
    >
      {{ ButText }}
    </button>
  </div>
</div>
